<div class="blog-post">
    <form method="post" id="frmConfig">
        <p>
            Site name: <br />
            <input type="text" name="site" value="@ViewBag.Site" />
        </p>
        <p>
            Description: <br />
            <input type="text" name="description" value="@ViewBag.Description" />
        </p>
        <p>
            Name: <br />
            <input type="text" name="name" value="@ViewBag.Name" />
        </p>
        <p>
            User Name: <br />
            <input type="text" name="account" value="@ViewBag.Account" />
        </p>
        <p>
            Password: <br />
            <input type="password" name="password" value="" />
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </form>
</div>