@model Prompt
<article class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        <input type="hidden" class="isFancy" />
        <header class="article-header">
            <h1 itemprop="name">
                <a class="article-title" href="#">@Model.Title</a>
            </h1>
        </header>
        <div class="article-entry" itemprop="articleBody">
            @Model.Details
        </div>
    </div>
</article>