<form asp-action="Login" asp-controller="Admin" method="post">
    <div class="article">
        <div class="header">
            <div class="title">登录</div>
        </div>
        <div class="section entry">
            <p>用户名</p>
            <p>
                <input type="text" name="Username" />
            </p>
            <p>密码</p>
            <p>
                <input type="password" name="Password" />
            </p>
            <p>
                <input type="submit" class="more-link" value="登录" /> 
            </p>
        </div>
    </div>
</form>