@{
    ViewBag.Title = "Admin Panel";
}

<div class="blog-post" id="admin-post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" v-model="post.title" />
    </div>
    <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" v-model="post.url" />
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" class="form-control" v-model="post.tagsText" />
    </div>
    <div class="form-group">
        <label>Catalog</label>
        <select class="form-control" v-model="post.catalogId">
            <option :value="null">Uncatalogged</option>
            @foreach (CatalogViewModel catalog in ViewBag.Catalogs)
            {
                <option value="@catalog.Id">@catalog.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Is Page?</label>
        <div>
            <div class="checkbox">
                <input type="checkbox" v-model="post.isPage" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Is Pinned?</label>
        <div>
            <div class="checkbox">
                <input type="checkbox" v-model="post.isPinned" />
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/vue.js"></script>
<script>var app = new Vue({
    el: '#admin-post',
    data: {
        id: '@ViewBag.PostId',
        post: {}
    },
    methods: {
        loadPost: function () {
            var self = this;
            jQuery.get('/admin/post/body', { id: self.id }, function (data) {
                self.post = data;
            });
        },
        remove: function (id) {
            var self = this;
            if (confirm('Are you sure you want to delete this post?')) {
                jQuery.post('/admin/post/delete', { id: id }, function () {
                    // TODO: Redirect
                })
            }
        },
        reset: function () {
            this.loadPost();
        },
        update: function (catalog) {
            var self = this;
            jQuery.post('/admin/post/edit', post, function () {
                // TODO: Notify succeed
            });
        }
    },
    created: function () {
        this.loadPost();
    }
})</script>