@model Post

<div class="blog-post">
    <div class="blog-post-content no-margin">
        @Html.Marked(Model.Content as string)
    </div>
    <h3><i class="fa fa-comments-o"></i> Comments</h3>
</div>