@if (Model != null && Model.GetType() != typeof(Post))
{
<div class="sidebar-module sidebar-about">
    <h3>ABOUT</h3>
    <div class="sidebar-body">
        <div class="face"><img src="@ViewBag.AvatarUrl"></div>
        <p style="text-align: center"><a href="@ViewBag.AboutUrl">Amamiya Yuuko</a></p>
        <div>
            <a target="_blank" href="https://mvp.microsoft.com/zh-cn/PublicProfile/5001885" yuuko-static><img src="~/assets/Default/images/mvp.png" alt="微软最有价值专家" class="mvp" /></a>
        </div>
        <div>
            <img src="~/assets/Default/images/mcsd.png" alt="微软认证解决方案开发专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/ms.png" alt="微软HTML5、CSS3、JavaScript专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/mcp.png" alt="微软认证专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/accd.png" alt="Adobe认证网络设计师" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/acpe-ps.png" alt="Adobe认证Photoshop专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/acpe-dw.png" alt="Adobe认证Dreamweaver专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/acpe-fw.png" alt="Adobe认证Fireworks专家" class="mvp" />
        </div>
        <div>
            <img src="~/assets/Default/images/acpe-fl.png" alt="Adobe认证Flash专家" class="mvp" />
        </div>
    </div>
</div>
}