@if (Model != null && Model.GetType() != typeof(Post))
{
<div class="sidebar-module sidebar-about">
    <h3>ABOUT</h3>
    <div class="sidebar-body">
        <div class="face"><img src="@ViewBag.AvatarUrl"></div>
        <p style="text-align: center"><a href="@ViewBag.AboutUrl">@ViewBag.Site</a></p>
        <div class="sidebar-certifications">
            <div>
                <a target="_blank" href="https://mvp.microsoft.com/zh-cn/PublicProfile/5001885" yuuko-static><img src="~/assets/Default/images/mvp.png" alt="微软最有价值专家" class="mvp" /></a>
            </div>
            <div>
                <img src="~/assets/Default/images/mcsd.png" alt="微软认证解决方案开发专家" class="mvp" />
            </div>
            <div>
                <img src="~/assets/Default/images/accd.png" alt="Adobe认证网络设计师" class="mvp" />
            </div>
        </div>
    </div>
</div>
}