@if (Model != null && Model.GetType() != typeof(Post))
{
<div class="sidebar-module sidebar-about">
    <h3>ABOUT</h3>
    <div class="sidebar-body">
        <div class="face"><img src="@ViewBag.AvatarUrl"></div>
        <p style="text-align: center"><a href="@ViewBag.AboutUrl">@ViewBag.Site</a></p>
    </div>
</div>
}
