<div class="blog-post" id="admin-links">
    <table class="blog-table">
        <thead>
            <tr>
                <th>Display</th>
                <th>URL</th>
                <th>Icon</th>
                <th>Priority</th>
                <th colspan="2">Control</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="link in links">
                <td><input type="text" class="form-control" v-model="link.display" /></td>
                <td><input type="text" class="form-control" v-model="link.url" /></td>
                <td><input type="text" class="form-control" v-model="link.icon" /></td>
                <td><input type="text" class="form-control" v-model="link.priority" /></td>
                <td><input type="button" class="btn btn-primary" v-on:click="update(link)" value="Save" /></td>
                <td><input type="button" class="btn btn-danger" v-on:click="remove(link.id)" value="Delete" /></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" v-model="add.display" /></td>
                <td><input type="text" class="form-control" v-model="add.url" /></td>
                <td><input type="text" class="form-control" v-model="add.icon" /></td>
                <td><input type="text" class="form-control" v-model="add.priority" /></td>
                <td><input type="button" class="btn btn-primary" v-on:click="create" value="Add" /></td>
                <td><input type="button" class="btn btn-info" v-on:click="reset" value="Reset" /></td>
            </tr>
        </tbody>
    </table>
</div>