<form asp-action="Login" asp-controller="Admin" method="post">
    <article class="article article-type-post" itemscope itemprop="blogPost">
        <div class="article-inner">
            <input type="hidden" class="isFancy" />
            <header class="article-header">
                <h1 itemprop="name">
                    <a class="article-title" href="#">登录</a>
                </h1>
            </header>
            <div class="article-entry" itemprop="articleBody">
                <p>用户名</p>
                <p>
                    <input type="text" class="textbox" name="Username" />
                </p>
                <p>密码</p>
                <p>
                    <input type="password" class="textbox" name="Password" />
                </p>
                <p>
                    <input type="submit" class="button" value="登录" />
                </p>
            </div>
        </div>
    </article>
</form>
