<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Yuko</title>
    <link rel='stylesheet' id='elementor-post-151-css'
          href='/assets/css/base.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-151-css'
          href='/assets/css/bootstrap.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-151-css'
          href='/assets/css/font-awesome.min.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-151-css'
          href='/assets/css/site.css'
          type='text/css' media='all' />
    <script src="/assets/js/pue.js"></script>
    <script src="/assets/js/pue.cachequery.js"></script>
</head>
<body>
    <div class="page page_wrap">
        <div class="preloader" v-if="loading">
            <div class="centrize full-width">
                <div class="vertical-center">
                    <div class="spinner default-circle"></div>
                </div>
            </div>
        </div>
        <div class="background gradient">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="container blog-header">
        <a href="/" v-on:click="catalog = null">
            <div class="blog-nav-item" v-bind:class="{ active: !catalog }">
                <i class="fa fa-fw fa-home"></i>
                Home
            </div>
        </a>

        <a v-bind:href="'/catalog/' + cat.url.toLocaleLowerCase()" v-for="cat in catalogs">
            <div class="blog-nav-item" v-bind:class="{ active: catalog == cat.url }">
                <i class="fa fa-fw" v-bind:class="'fa-' + cat.icon"></i>
                {{ cat.title }}
            </div>
        </a>

        <a v-bind:href="link.url" v-for="link in links">
            <div class="blog-nav-item right">
                <i class="fa fa-fw" v-bind:class="'fa-' + link.icon"></i>
                {{ link.display }}
            </div>
        </a>
        <div class="blog-banner">
            <template v-if="isPage && $containers[0].active">
                <div class="blog-banner-post-title">{{ $containers[0].active.post.title }}</div>
                <div class="blog-banner-post-subtitle"><i class="fa fa-clock-o"></i> {{ new Date($containers[0].active.post.time) }}</div>
            </template>
            <template v-else>
                <img v-bind:src="info.avatarUrl" class="blog-banner-avatar" />
                <div class="blog-banner-right">
                    <div class="blog-banner-title">{{ info.description }}</div>
                    <div class="blog-banner-subtitle">
                        <a target="_blank" href="https://github.com/yukozh"><i class="fa fa-github"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/yuko-zheng-3b9980100/"><i class="fa fa-fw fa-linkedin-square"></i></a>
                        <a target="_blank" href="mailto:hi@yuko.me"><i class="fa fa-fw fa-envelope-o"></i></a>
                    </div>
                </div>
            </template>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="blog-split"></div>
    <div class="container blog-main-container">
        <div class="row">
            <div class="col-md-8">
                <render-body></render-body>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar-section" v-if="isPage">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        Post
                    </div>
                </div>
                <div class="blog-sidebar-section">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-book"></i>
                        </div>
                        Category
                    </div>
                    <ul class="blog-sidebar-list">
                        <li v-for="catalog in catalogs"><a v-bind:href="'/catalog/' + catalog.url.toLocaleLowerCase()">{{ catalog.title }} ({{ catalog.count }})</a></li>
                    </ul>
                </div>
                <div class="blog-sidebar-section">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        Calendar
                    </div>
                    <ul class="blog-sidebar-list">
                        <li v-for="calendar in calendars"><a v-bind:href="'/' + calendar.year + '/' + calendar.month">{{ moment(new Date(calendar.year + '-' + calendar.month + '-1')).format('YYYY MMM') }} ({{ calendar.count }})</a></li>
                    </ul>
                </div>
                <div class="blog-sidebar-section">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-tags"></i>
                        </div>
                        Tags
                    </div>
                    <div class="blog-sidebar-tags-outer">
                        <a v-for="tag in tags" class="blog-sidebar-tag" v-bind:href="'/tag/' + encodeURIComponent(tag.title) + '/'">{{ tag.title }} ({{ tag.count }})</a>
                    </div>
                </div>
                <div class="blog-sidebar-section" v-if="!isPage">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-star-o"></i>
                        </div>
                        Blog Rolls
                    </div>
                    <ul class="blog-sidebar-list">
                        <li v-for="roll in rolls"><a v-bind:href="roll.url" static-link target="_blank">{{ roll.display }}</a></li>
                    </ul>
                </div>
                <div class="blog-sidebar-section" v-if="token">
                    <div class="blog-sidebar-title">
                        <div class="blog-sidebar-title-icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        Settings
                    </div>
                    <ul class="blog-sidebar-list">
                        <li><a href="/admin">General</a></li>
                        <li><a href="/admin/catalog">Catalog</a></li>
                        <li><a href="/admin/link">Link</a></li>
                        <li><a href="/admin/roll">Blog Roll</a></li>
                        <li><a v-on:click="logout" static-link>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-split"></div>
    <div class="blog-footer">
        <div class="container">
            <span>Powered by YukoBlog.</span>

            <a v-if="!token" href="/admin/login" style="margin-left: 5px">Manage</a>
            <span class="blog-footer-right">© Yuko Zheng 2022</span>
        </div>
    </div>
</body>

</html>
